{% extends "layouts/base.html" %}

{% block title %} Player {% endblock %} 

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <div class="pcoded-content">
        <div class="pcoded-inner-content">
            <!-- [ breadcrumb ] start -->
            <div class="row align-items-center">
                <div class="col-md-12">
                    <div class="page-header-title">
                        <h5 class="m-b-10">Player</h5>
                    </div>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/"><i class="feather icon-home"></i></a></li>
                        <li class="breadcrumb-item"><a href="{% url 'player_index' %}"><i class="feather icon-users"> Players</i></a></li>
                        {% if edit %}
                        <li class="breadcrumb-item"><a href="{% url 'player_add' %}"><i class="feather icon-edit-2"></i> Edit</a></li>
                        {% else %}
                        <li class="breadcrumb-item"><a href="{% url 'player_add' %}"><i class="feather icon-user-plus"></i> Add</a></li>
                        {% endif %}
                    </ul>
                </div>
            </div>
            <!-- [ breadcrumb ] end -->
            <div class="main-body">
                <div class="page-wrapper">
                    <!-- [ Main Content ] start -->
                    <div class="row">
                        {% if edit%}
                        <div class="col-8">
                        {% else %}
                        <div class="col-12">
                        {% endif %}
                            <div class="card">
                                <div class="card-header"><h5>{% if edit %} Edit {% else %} Add {% endif %} {{player}}</h5></div>
                                <div class="card-body">
                                    <div class="row">
                                        <!-- EDIT -->
                                        {% if edit %}
                                        <div class="col-6">
                                            <form method="POST" action="{% url 'player_edit' player.cosy %}">
                                            <input hidden name="old_cosy" value="{{player.cosy}}">
                                        {% else %}
                                        <div class="col-12">
                                            <form method="POST" action="{% url 'player_add' %}">
                                        {% endif %}
                                            {% csrf_token %}
                                                <table class="table table-sm">
                                                    
                                                    {{form.as_table}}
                                                </table>
                                                <div class="row">
                                                    <div class="col text-center">
                                                        <input class="btn btn-success btn-lg" type="submit" value="Valider">
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                        {% if edit %}
                                        <div class="col-6">
                                            {% if player.decks.all %}
                                            <table class="table table-hover">
                                                <tr>
                                                    <th>#</th>
                                                    <th>Name</th>
                                                </tr>
                                                {% for deck in player.decks.all %}
                                                <tr>
                                                    <td style="width: 8%">
                                                        <a class="text-dark" href="{% url 'player_deck_remove' cosy=player.cosy id=deck.pk %}"><i class="fa fa-fw fa-solid fa-trash px-2"></i></a>
                                                    </td>
                                                    <td>{{deck}}</td>
                                                </tr>
                                                {% endfor %}
                                            </table>
                                            {% endif %}
                                        </div>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% if edit %}
                        <div class="col-4">
                            <div class="card">
                                <div class="card-header"><h5>Decks</h5></div>
                                <div class="card-body">
                                    <form method="POST" action="{% url 'player_deck_add' player.cosy %}">
                                        {% csrf_token %}
                                        <input hidden name="cosy" value="{{player.cosy}}">
                                        <div class="input-group mb-3">
                                            <input type="text" class="form-control" name="name" placeholder="Nom du deck ...">
                                            <div class="input-group-append">
                                                <input type="submit" class="btn btn-success">
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        {% endif %}
                    </div>
                    <!-- [ Main Content ] end -->
                </div>
            </div>
        </div>
    </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<script>
    $(document).ready( function () {
    $('#table_id{{forloop.counter}}').DataTable({
        "order": [[1, 'asc']]
    });
} );
</script>
{% endblock javascripts %}
