{% extends "layouts/base.html" %}

{% block title %} Home {% endblock %} 

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <div class="pcoded-content">
        <div class="pcoded-inner-content">
            <!-- [ breadcrumb ] start -->
            <div class="row align-items-center">
                <div class="col-md-12">
                    <div class="page-header-title">
                        <h5 class="m-b-10">{{player}}</h5>
                    </div>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/"><i class="feather icon-home"></i></a></li>
                        <li class="breadcrumb-item"><a href="{% url 'player_index' %}"><i class="feather icon-users"></i> Players</a></li>
                    </ul>
                </div>
            </div>
            <!-- [ breadcrumb ] end -->
            <div class="main-body">
                <div class="page-wrapper">
                    <!-- [ Main Content ] start -->
                    <div class="row">
                        <div class="col-9">
                            <div class="card">
                                <div class="card-header">
                                    <h5>Winrate</h5>
                                </div>
                                <div class="card-block">
                                    <table id="table table-sm display compact" class="table">
                                        <tr>
                                            <th>#</th>
                                            <th>Deck</th>
                                            <th>Win</th>
                                            <th>Draw</th>
                                            <th>Loose</th>
                                        </tr>
                                        
                                        {% for i in winrate %}
                                        <tr>
                                            <td>{{forloop.counter}}</td>
                                            <td>{{i.0}}</td>
                                            <td>{{i.1.0}}</td>
                                            <td>{{i.1.1}}</td>
                                            <td>{{i.1.2}}</td>
                                        </tr>
                                        {% endfor %}
                                    </table>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header"><h5>History</h5></div>
                                <div class="card-block">
                                    <table class="table">
                                        <tr>
                                            <th>#</th>
                                            <th>Deck utilisé</th>
                                            <th>Adversaire</th>
                                            <th>Deck</th>
                                            <th class="text-center">Resultat</th>
                                        </tr>
                                        {% for m in match %}
                                        <tr>
                                            <td>{{forloop.counter}}</td>
                                            {% if m.player1 == participant %}
                                            <td>{{m.deck1}}</td>
                                            <td>{{m.player2.player}}</td>
                                            <td>{{m.deck2}}</td>
                                            {% else %}
                                            <td>{{m.deck2}}</td>
                                            <td>{{m.player1.player}}</td>
                                            <td>{{m.deck1}}</td>
                                            {% endif %}
                                            {% if m.winner != None %}
                                                {% if m.winner == participant %}
                                                <td class="text-center">WIN</td>
                                                {% else %}
                                                <td class="text-center">LOOSE</td>
                                                {% endif %}
                                            {% else %}
                                                <td class="text-center">DRAW</td>
                                            {% endif %}
                                        </tr>
                                        {% endfor %}
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="card">
                                <div class="card-header">
                                    <h5>Win - draw - loose</h5>
                                </div>
                                <div class="card-block">
                                    <div><h6 class="text-center">{{win}} - {{draw}} - {{loose}}</h6></div>
                                    <div id="morris-donut-chart" style="height:200px"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- [ Main Content ] end -->
                </div>
            </div>
        </div>
    </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<script>
    $(document).ready( function () {
    $('#table_id{{forloop.counter}}').DataTable({
        "order": [[1, 'asc']]
    });
} );
</script>


<script src="{{ ASSETS_ROOT }}/plugins/chart-morris/js/raphael.min.js"></script>
<script src="{{ ASSETS_ROOT }}/plugins/chart-morris/js/morris.min.js"></script>
<script>
$(document).ready(function() {
    setTimeout(function() {
    // [ Donut-chart ] Start
    var graph = Morris.Donut({
        element: 'morris-donut-chart',
        data: [
            {% if win != 0 %}
            {
                value: {{win}},
                label: 'Wins'
            },
            {% endif %}
            {% if draw != 0 %}
            {
                value: {{draw}},
                label: 'Draw'
            },
            {% endif %}
            {% if loose != 0 %}
            {
                value: {{loose}},
                label: 'Loose'
            }
            {% endif %}
        ],
        colors: [
            {% if win != 0 %}   'green', {% endif %}
            {% if draw != 0 %}  'grey',  {% endif %}
            {% if loose != 0 %} 'red'    {% endif %}
        ],
        resize: true,
        formatter: function(x) {
            return x
        }
    });    
    // [ Donut-chart ] end
        }, 700);
});

</script>
{% endblock javascripts %}
