{% extends "layouts/base.html" %}

{% block title %} Player {% endblock %} 

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
    
    <div class="pcoded-content">
        <div class="pcoded-inner-content">
            <!-- [ breadcrumb ] start -->
            <div class="row align-items-center">
                <div class="col-md-12">
                    <div class="page-header-title">
                        <h5 class="m-b-10">Timer</h5>
                    </div>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/"><i class="feather icon-home"></i></a></li>
                        <li class="breadcrumb-item"><a href="{% url 'timer' %}"><i class="feather icon-clock"></i> Timer</a></li>
                    </ul>
                </div>
            </div>
            <!-- [ breadcrumb ] end -->
            <div class="main-body">
                <div class="page-wrapper">
                    <!-- [ Main Content ] start -->
                    <div class="card">
                        <div class="card-header">
                            <h5>Timer</h5>
                        </div>
                        <div class="card-body text-center text-dark">
                            <div class="row">
                                <div class="col" style="font-size:50px">
                                    <button onClick="timer.remove()"><i class="feather icon-minus-circle"></i></button>
                                </div>
                                <div class="col-10">
                                    <div class="timer-body" style="font-size:300px">
                                        <span class="minute">40</span> : <span class="seconde">00</span>
                                    </div>
                                </div>
                                
                                <div class="col" style="font-size:50px">
                                    <button onClick="timer.add()"><i class="feather icon-plus-circle"></i></button>
                                </div>
                            </div>
                            
                            <div class="timer-control" style="font-size:50px">
                                <button onClick="timer.start(10)"><i class="feather icon-play-circle"></i></button>
                                <button onClick="timer.reset()"><i class="feather icon-stop-circle"></i></button>
                            </div>
                        </div>
                    </div>
                    <!-- [ Main Content ] end -->
                </div>
            </div>
        </div>
    </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<script>
    function _timer(callback) {

        var min_time = 40*60;
        var time;
        var end_of_time;
        var interval;
        var running = false;

        this.start = function(){
            running = true;
            end_of_time = new Date().getTime() + (min_time * 1000)

            interval = setInterval(function(){
                var now = new Date().getTime();
                time = end_of_time - now;
                generateTime();
                if(typeof(callback) === 'function') callback(time);
            },1000)

        }
        this.add = function() {
            if(!running){
                min_time += 60;
                time = min_time * 1000;
                generateTime();
            }
        }
        this.remove = function() {
            if(!running){
            min_time -=60;
            time = min_time * 1000;
            generateTime()
            }
        }
        this.reset =  function(sec) {
            running = false;
            clearInterval(interval);
            time = min_time * 1000;
            generateTime();
        }

        function generateTime() {
            if(time > 0){

                var minutes = Math.floor((time % (1000 * 60 * 60)) / (1000 * 60));
                var seconds = Math.floor((time % (1000 * 60)) / 1000);
            }
            else{
                var minutes = Math.ceil((time % (1000 * 60 * 60)) / (1000 * 60));
                var seconds = Math.ceil((time % (1000 * 60)) / 1000);
            
            }
            if( seconds <= 10 ){
                $('div.timer-body span.seconde').html('0' + seconds);
            } else {
                $('div.timer-body span.seconde').html(seconds);
            }
            $('div.timer-body span.minute').html(minutes);
        }

    }


    var audio = new Audio('{{ ASSETS_ROOT }}/sound/buzzer.mp3');
    console.log(audio);
    audio.play();
    var timer;

    $(document).ready(function(e) {
        var up = true;
        timer = new _timer(
            function(time) {
                if (time <= 0 && up){
                    up = false;
                    audio.play();
                    console.log('time');
                }
            }
        );
    })
</script>
{% endblock javascripts %}
