{% extends "layouts/base.html" %}

{% block title %} Dashboard {% endblock %} 

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <div class="pcoded-content">
        <div class="pcoded-inner-content">
            <!-- [ breadcrumb ] start -->

            <!-- [ breadcrumb ] end -->
            <div class="main-body">
                <div class="page-wrapper">
                    <!-- [ Main Content ] start -->
                    <div class="row">
                        <!--[social-media section] start-->
                        <div class="col-md-12 col-xl-4">
                            <div class="card card-social">
                                <div class="card-block border-bottom">
                                    <div class="row align-items-center justify-content-center" onClick=(window.open("https://www.facebook.com/playingroomasbl"))>
                                        <div class="col-1">
                                            <i class="fab fa-facebook-f text-primary f-36"></i>
                                        </div>
                                        <div class="col-8 text-center">
                                            <h3>Playing Room ASBL</h3>
                                        </div>
                                        <div class="col-3 text-right">
                                            <h3>281</h3>
                                            <!-- REQUETE API NOMBRE D'ABONNE -->
                                            <!--<h5 class="text-c-green mb-0">+7.2% <span class="text-muted">Total Likes</span></h5>-->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 col-xl-4">
                            <div class="card card-social">
                                <div class="card-block border-bottom">
                                    <div class="row align-items-center justify-content-center" onClick=(window.open("https://www.youtube.com/@ygoteammajin9504"))>
                                        <div class="col-1">
                                            <i class="fab fa-youtube text-danger f-36"></i>
                                        </div>
                                        <div class="col-8 text-center">
                                            <h3>Ygo team majin</h3>
                                        </div>
                                        <div class="col-3 text-right">
                                            <h3>194</h3>
                                            <!-- REQUETE API NOMBRE D'ABONNE -->
                                            <!--<h5 class="text-c-green mb-0">+7.2% <span class="text-muted">Total Likes</span></h5>-->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 col-xl-4">
                            <div class="card card-social">
                                <div class="card-block border-bottom">
                                    <div class="row align-items-center justify-content-center" onClick=(window.open("https://discord.gg/ndNmrNxRye"))>
                                        <div class="col-1">
                                            <i class="fab fa-discord f-36"></i>
                                        </div>
                                        <div class="col-8 text-center">
                                            <h3>Playing Room</h3>
                                        </div>
                                        <div class="col-3 text-right">
                                            <h3>52</h3>
                                            <!-- REQUETE API NOMBRE D'ABONNE -->
                                            <!--<h5 class="text-c-green mb-0">+7.2% <span class="text-muted">Total Likes</span></h5>-->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <!--[social-media section] end-->
                        <div class="col-xl-12 col-md-12 m-b-30">
                            <ul class="nav nav-tabs" id="myTab" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="false">This Week</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link active show" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="true">This Month</a>
                                </li>
                            </ul>
                            <div class="tab-content" id="myTabContent">
                                <div class="tab-pane fade" id="home" role="tabpanel" aria-labelledby="home-tab">
                                    <table class="table table-hover">
                                        <thead>
                                            <tr>
                                                <th>Evenement</th>
                                                <th>Date</th>
                                                <th>Heure</th>
                                                <th>Type de tournois</th>
                                                <th class="text-right"></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <!-- FOR -->
                                            <tr>
                                                <td>
                                                    <h6 class="m-0"><a href="https://fb.me/e/2vi1XLgAZ" target="_blank">Tournois OTS</a></h6>
                                                </td>
                                                <td>
                                                    <h6 class="m-0">Mercredi 25 janvier 2023</h6>
                                                </td>
                                                <td>
                                                    <h6 class="m-0">17:00</h6>
                                                </td>
                                                <td>
                                                    <h6 class="m-0 text-c-red font-weight-bold">Compet | Win à box</h6>
                                                </td>
                                                <td class="text-right"><i class="fas fa-circle text-c-red f-10"></i></td>
                                            </tr>
                                            <!-- ENDFOR -->
                                        </tbody>
                                    </table>

                                </div>
                                <div class="tab-pane fade active show" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                                    <table class="table table-hover">
                                        <thead>
                                            <tr>
                                                <th>Evenement</th>
                                                <th>Date</th>
                                                <th>Heure</th>
                                                <th>Type de tournois</th>
                                                <th class="text-right"></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <!-- FOR -->
                                            <tr>
                                                <td>
                                                    <h6 class="m-0"><a href="https://fb.me/e/2vi1XLgAZ" target="_blank">Tournois OTS</a></h6>
                                                </td>
                                                <td>
                                                    <h6 class="m-0">Mercredi 25 janvier 2023</h6>
                                                </td>
                                                <td>
                                                    <h6 class="m-0">17:00</h6>
                                                </td>
                                                <td>
                                                    <h6 class="m-0 text-c-red font-weight-bold">Compet | Win à box</h6>
                                                </td>
                                                <td class="text-right"><i class="fas fa-circle text-c-red f-10"></i></td>
                                            </tr>
                                            <!-- ENDFOR -->
                                        </tbody>
                                    </table>

                                </div>
                            </div>
                        </div>

                    </div>
                    <!-- [ Main Content ] end -->
                </div>
            </div>
        </div>
    </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
