{% extends "layouts/base.html" %}

{% block title %} Player {% endblock %} 

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <div class="pcoded-content">
        <div class="pcoded-inner-content">
            <!-- [ breadcrumb ] start -->
            <div class="row align-items-center">
                <div class="col-md-12">
                    <div class="page-header-title">
                        <h5 class="m-b-10">Player</h5>
                    </div>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/"><i class="feather icon-home"></i></a></li>
                        <li class="breadcrumb-item"><a href="{% url 'cashregister_index' %}"><i class="feather icon-shopping-cart"></i> Cash Register</a></li>
                    </ul>
                </div>
            </div>
            <!-- [ breadcrumb ] end -->
            <div class="main-body">
                <div class="page-wrapper">
                    <!-- [ Main Content ] start -->
                    <div class="card">
                        <div class="card-header">
                            <h5>Cash register</h5>
                            <span class="float-right"><a href="{% url 'cashregister_add_item' %}" class="btn btn-success">Add new Item</a></span>
                        </div>
                        <div class="card-body">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Name</th>
                                        <th>Price</th>
                                        <th>Description</th>
                                        <th>Stock</th>
                                    </tr>
                                </thead>
                                <tbody>
                                {% for i in items %}
                                    <tr>
                                        <td style="width:8%">
                                            <a class="text-dark" href=""><i class="fa fa-fw fa-solid fa-arrow-up-right-from-square px-2"></i></a>
                                            <a class="text-dark" href="{% url 'cashregister_edit_item' i.pk %}"><i class="fa fa-fw fa-solid fa-pen-to-square px-2"></i></a>
                                            <a class="text-dark" href="{% url 'cashregister_delete_item' i.pk %}"><i class="fa fa-fw fa-solid fa-trash px-2"></i></a>
                                        </td>
                                        <td>{{i.name}}</td>
                                        <td>{{i.price}} €</td>
                                        <td>{{i.descr}}</td>
                                        <td>{{i.stock}}</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <!-- [ Main Content ] end -->
                </div>
            </div>
        </div>
    </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
